.bookmarks-body {
    font-size: 16px;
    min-width: 400px;
}

.back-button {
    margin-bottom: 5px;
}

.bookmarks {
    margin: 5px 0 15px 0;
}

.is-dir {
    color: #00F;
    cursor: pointer;
}

.is-link {
    color: #999;
}

.json-textarea {
    display: block;
    margin-bottom: 5px;
}
