html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: Helvetica;
}

.btn {
  font-size: 16px;
  color: #333;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px #ccc solid;
  cursor: pointer;

  transition: .25s background-color;
}

.btn:hover {
  background-color: #efefef;
}

.btn[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

.wrapper {
  max-width: 760px;
  margin: 0 auto;
  padding: 10px;
  font-size: 20px;
}

.error-message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 4px;
  background-color: #fd4545;
  color: #fff;
}

.error-message-text {
  flex-grow: 1;
  margin-right: 15px;
}

.error-message-close {
  padding: 0;
  line-height: 1;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}

.instructions {
  padding: 8px;
  border-radius: 4px;
  background-color: #ddd;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.back-button {
  margin-right: 10px;
}

.current-item-title {
  font-style: italic;
}

.bookmarks {
  margin: 5px 0 15px 0;
}

.is-dir {
  color: #00F;
  cursor: pointer;
}

.is-link {
  color: #999;
}

.json-textarea {
  display: block;
  width: 100%;
  height: 75px;
  margin-bottom: 5px;
  padding: 6px 12px;
  border-radius: 4px;
}
