.wrapper {
    max-width: 760px;
    margin: 0 auto;
    font-size: 18px;
}

.error-message {
    display: none;
    align-items: flex-start;
    padding: 10px;
    background-color: #fd4545;
    color: #fff;
}

.error-message.is-shown {
    display: flex;
}

.error-message-text {
    flex-grow: 1;
    margin-right: 15px;
}

.error-message-close {
    padding: 0;
    line-height: 1;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.instructions {
    padding: 5px;
    background-color: #ddd;
}

.back-button {
    margin-bottom: 5px;
}

.bookmarks {
    margin: 5px 0 15px 0;
}

.is-dir {
    color: #00F;
    cursor: pointer;
}

.is-link {
    color: #999;
}

.json-textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.json-paste-wrapper {
    display: none;
}

.json-paste-wrapper.is-shown {
    display: block;
}
